<!-- <h1>Componente cadastro</h1>
<input
  [(ngModel)]="id"
  (keyup.enter)="(salvarValor)"
  (blur)="(salvarValor)"
  placeholder="Entre com um id"
/>

<p>Id: {{ id }}</p>

<input [(ngModel)]="nome" type="text" placeholder="Entre com um curso" />
<p>Nome: {{ nome }}</p>

<button type="button" class="btn btn-primary" (click)="cadastro()">
  Adicionar Curso
</button>
 -->
<div>
  <form>
    <body>
      <div class="form-group">
        <label for="exampleInputEmail1">Entrar com ID:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite um ID"
          [(ngModel)]="curso.id"
          name="id"
        />
      </div>
      <div class="form-group">
        <label>Nome do Curso</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite nome do curso"
          [(ngModel)]="curso.nome"
          name="nome"
        />
      </div>
      <button type="submit" class="btn btn-primary" (click)="cadastro()">
        Submit
      </button>
    </body>
  </form>
</div>
